<!-- multipart to allow for uploading of binary data --!>
<%= form_for(@clip, :html => {:multipart => true}) do |f| %>

  <% if @clip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clip.errors.count, "error") %> prohibited this clip from being saved:</h2>

      <ul>
      <% @clip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
  </div>

  <div class="field">
    <%= f.label :datafile %><br />
    <%= f.file_field :datafile %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
