<%= javascript_include_tag 'strlib' %>
<%= javascript_include_tag 'clicker' %>

<% # why don't I have to use javascript_include_tag 'experiment_clicker' here?? %>

<% #TODO make this generic 
if flash[:error] %>
<div class=row-fluid>
  <p class=error><%= flash[:error] %></p>
</div>
<%
end
%>

  <div class="row-fluid">

    <div class="span3">
      <form class="form-inline">
        <legend>Scale</legend>
        <input id='scale-distance-known' type=textbox placeholder="length"></input><input id='scale-distance-units' type=textbox placeholder="unit"></input>
        <button type=button class="btn btn-primary" id='btn-measure-scale' onclick="start_measuring();">Measure</button> 
      </form>
        <% # TODO only show update button if values are tainted %>
      <form class="form-inline">
        <legend>Objects</legend>
        <%= select("particle","particle_id", @experiment.particles.collect {|p| [p.name, p.id]}, {:class => 'input-small'}) %>
        <button type=button id="edit-particle" class="btn">Edit</button>
        <button type=button id="particle-data" class="btn">Data</button>
        <button type=button id="particle-data-csv" class="btn">CSV</button>
        <button type=button id="particle-data-plot" class="btn">Plot</button>        
      </form>
      <%= link_to 'Add Object', new_experiment_particle_path(@experiment), :class => 'btn btn-primary' %>
      <hr>
      <form>
        <legend>Control</legend>
        <table class="table table-condensed">
          <tr> <td>FPS</td>   <td><%= "%0.2f" % @experiment.videoclip.fpss.to_f %></td></tr>
          <tr> <td>Frame</td> <td><span id="display-frame"></span></td> </tr>
          <tr> <td>Time</td>  <td><span id="display-time"></span></td>  </tr>
          <tr> <td><i>Frame skip:</i></td><td> <input id="skip-distance" type=textbox value=1>  </input></td></tr>
        </table>
        <button type=button class=btn id="control-start" onclick="load_start_frame();">start</button>||
        <button type=button class="btn btn-primary" id="control-previous-skip" onclick="load_previous_frame_skip();" > &lt; &lt; </button>
        <button type=button class=btn               id="control-previous"      onclick="load_previous_frame_first();"> &lt; </button>
        <button type=button class=btn               id="control-next"          onclick="load_next_frame_first();"    > &gt; </button>
        <button type=button class="btn btn-primary" id="control-next-skip"     onclick="load_next_frame_skip();"     >  &gt; &gt; </button>
      </form>
    </div>

    <div class="span9" id="clicker"> 
      <canvas id="imgbox"></canvas> 
    </div>

  </div>