<div class=row-fluid>
  <div class=span2>
    <%= link_to 'New Experiment', videoclips_path, :class => 'btn' %>
  </div>
  <div class=span10>
    <table class=table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Videoclip</th>
      </tr>

    <% @experiments.each do |experiment| %>
      <tr>
        <td><%= experiment.title %></td>
        <td><%= experiment.description %></td>
        <td><%= experiment.videoclip.name %></td>
        <td><%= link_to 'Edit Information', edit_experiment_path(experiment), :class => 'btn' %></td>
        <td><%= link_to 'Analyze Video', 'experiments/' + experiment.id.to_s + '/clicker', :class => 'btn' %></td>
        <td><%= link_to 'Remove', experiment, confirm: 'Are you sure?', method: :delete, :class => 'btn' %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
