<div class=row-fluid>
  <div class="span2">
    <ul class="nav nav-pills">
      <li><%= link_to 'Position', 'plot' %> </li>
      <li><%= link_to 'Distance', 'distance' %></li>
      <li><%= link_to 'Back', experiment_clicker_path(@experiment) %></li>
    </ul>
    <table class="table" id="lines">
      <tr><th colspan=2>Data to plot</th></tr>
      <%  @particles.each do |p| %>
      <%    @colids.each do |colid| %>
              <tr><td> <%= check_box_tag colid, colid, false, { :particle_id => p.id } %> </td> <td><span style="color: <%= p.color_name %>"><%= p.name + " " + colid %></span> </td> </tr>
      <%    end %>
      <%  end %>
    </table> 
    <button id="update-plot" class="btn btn-primary" onclick="update_plot();">Update Plot</button>
    <div style="padding-top: 8px">
      <table class="table" id="output">
        <tr><th colspan=3>Selected Point</th></tr>
        <tr><td style="text-align: right"><span id='select-x-id'></span></td><td>=</td><td><span id="select-x"></span></td></tr>
        <tr><td style="text-align: right"><span id='select-y-id'></span></td><td>=</td><td><span id="select-y"></span></td></tr>
        <tr><td style="text-align: right">&Delta;<span id='select-y-id'></span>/&Delta;<span id='select-x-id'></span></td><td>=</td><td><span id='select-slope'></span></td></tr>
      </table>
    </div>
  </div>
  <div class="span10">
    <div id="graph"></div>
  </div>
</div>

<script>

$(document).ready( function() {

  var graph = 
    d3.select("#graph").append("svg").attr('class','graphcomponent')
    .attr("width", 800)
    .attr("height", 600);

  gon.colids = JSON.parse(gon.colids_json);

  plot_csv_multiple(graph, 800, 600, gon.particle_ids, gon.particledata, gon.scale, gon.xcolid, gon.all_colids, gon.colors, update_selected_display, gon.plotconfig);

  show_selected_plots();
});
</script>