<div class=container-fluid>

<%= render 'navbar' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @experiment.name %>
</p>

<p>
  <b>Title:</b>
  <%= @experiment.title %>
</p>

<p>
  <b>Description:</b>
  <%= @experiment.description %>
</p>

<p>
	<b>Videoclip</b>
	<%= @experiment.videoclip.name %>
</p>


<%= link_to 'Edit Metadata', edit_experiment_path(@experiment) %> |
<%= link_to 'Analyze Video', experiment_clicker_path(@experiment) %> | 
<%= link_to 'Back', experiments_path %>

</div>