<div class=container>

<%= render 'navbar' %>

<%

experiment = @data.first.experiment
scale = experiment.scale

%>

  <table class=table>
    <tr>
      <th>Frame</th>
      <th>Time (s)</th>
      <th>X ( <%= scale.measured_units %> ) </th>
      <th>Y ( <%= scale.measured_units %> ) </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @data.each do |datum| %>
    <tr>
      <td><%= datum.frame %></td>
      <td><%= "%0.3f" % datum.time %></td>
      <td><%= "%0.3f" % scale.x(datum.x) %></td>
      <td><%= "%0.3f" % scale.y(datum.y) %></td>
    </tr>
  <% end %>
  </table>

<%= link_to 'Export Data to File', 'data.csv', :class => 'btn' %>
</div>