<p id="notice"><%= notice %></p>

<p>
  <b>Results:</b>
  <%= @datum.results_id %>
</p>

<p>
  <b>Frame:</b>
  <%= @datum.frame %>
</p>

<p>
  <b>Time:</b>
  <%= @datum.time %>
</p>

<p>
  <b>X:</b>
  <%= @datum.x %>
</p>

<p>
  <b>Y:</b>
  <%= @datum.y %>
</p>

<%= link_to 'Back', data_path %>
