<%= form_for( [@experiment, @particle] ) do |f| %>
  <% if @particle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@particle.errors.count, "error") %> prohibited this particle from being saved:</h2>

      <ul>
      <% @particle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mass %><br />
    <%= f.text_field :mass %>
  </div>
  <div class="field">
    <%= f.label :color_name %><br />
    <%= f.select :color_name, options_for_select([["Black","Black"],["Silver","Silver"],["Gray","Gray"],["Red","Red"],["Green","Green"],["Blue","Blue"],["Orange","Orange"],["Purple","Purple"],["Brown","Brown"],["Maroon","Maroon"],["Teal","Teal"],["Olive","Olive"]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
