<%= form_for(@videoclip, :html => {:multipart => true}) do |f| %>
  <% if @videoclip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@videoclip.errors.count, "error") %> prohibited this videoclip from being saved:</h2>

      <ul>
      <% @videoclip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :datafile %><br />
    <%= f.file_field :datafile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
