<div class=row-fluid>

  <div class=span2>
  <%= link_to 'Upload Videoclip', new_videoclip_path, :class => 'btn' %>
  </div>

  <div class=span10>
    <div>
      <table class=table>
        <tr>
          <th>Name</th>
    			<th>FPS</th>
          <th>Control</th>
        </tr>

      <% @videoclips.each do |videoclip| %>
        <%= videoclip.is_removed && next %>
        <tr>
          <td><%= videoclip.name %></td>
    			<td><%= videoclip.fpss %></td>
          <td>
            <%= if not (videoclip.is_processed == 1)
                    link_to 'Process', create_frames_videoclip_path(videoclip), :class => 'btn btn-info'
                  else
                    link_to 'New Experiment', "videoclips/" + videoclip.id.to_s + "/start_experiment", :class => 'btn btn-primary'
                  end %> 
            <%= link_to 'Edit Information', '/videoclips/' + videoclip.id.to_s + '/edit', :class => 'btn' %> 
            <%= link_to 'Play', "videoclips/" + videoclip.id.to_s + "/play", :class => 'btn' %>
          </td>
          <td>
            <%= if not (videoclip._is_removed == 1)
    								link_to 'Remove',  videoclip, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-inverse'
    							end%>
    			</td>
        </tr>
      <% end %>
      </table>
    </div>
  </div>

</div>

